body{
    width: auto;
    margin: 0 auto;
    background:#cccccc;
}
header{
    height: 7em;
}
.primero{
    
}
.tituloprincipal{
    position:relative;
    top:50%;
    left: 45%;
    width: 6em;
     font-family: 'Sevillana', cursive;
     font-size:2em;
     text-align:center;
     border:0.10em solid #000000;
     border-radius:0.95em;
     padding: 0.30em;
    
}
.vidapre{
width: 15%;
margin:4em 00

}
.velo{
    width:15%
}
.planeta{
    background: #000000;
    width: 15%;
}