body{
    width: auto;
    margin: 0 auto;
}
header{
    height: 7em;
}
.tituloprincipal{
    position:relative;
    top:50%;
    left: 45%;
    width: 10%;
     font-family: 'Sevillana', cursive;
     font-size:2em;
     text-align:center;
     border:0.10em solid #000000;
     border-radius:0.95em;
     padding: 0.30em;
    
}
.vidapre{
width: 15%;

}